{
    "host": "0.0.0.0",
    "port": 3000,
    "database_url": "sqlite://posts.db",
    "timezone": "UTC",
    "public_key": "/path/to/public.asc",
    "author" : {
        "name": "",
        "email": ""
    }
}