<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/static/css/add_post.css">
</head>

<body>
    <h1>New Post</h1>
    {% if let Some(error) = error_message %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    <form action='/api/new_post' method='post'>
        <textarea name='sentence' placeholder='Write something...' required></textarea>
        {% if let Some(keyid) = keyid %}
        <textarea name='signature'
            placeholder='Ascii-armored gpg signature of the sentence by {{ keyid }} \n-----BEGIN PGP SIGNATURE-----\n......'
            required></textarea>
        {% endif %}
        <div class="form-actions">
            <button type='submit'>Post</button>
            <div class="checkbox-container">
                <input type='checkbox' name='show' value='true' id='show-checkbox' checked>
                <input type='hidden' name='show' value='false' id='show-hidden' disabled>
                <label for='show-checkbox'>Display on main page</label>
            </div>
        </div>
    </form>
    <div class="actions">
        <a href='/'>Go back to fragments</a>
        <a id='preview'>Preview</a>
    </div>

    <script>
        var textAreas = document.getElementsByTagName('textarea');

        function autoResize() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }

        Array.prototype.forEach.call(textAreas, function (elem) {
            elem.placeholder = elem.placeholder.replace(/\\n/g, '\n');
            elem.addEventListener('input', autoResize, false);

        });

        document.getElementById('preview').addEventListener('click', go2Preview);
        function go2Preview() {
            window.location.href = '/preview?sentence=' + encodeURIComponent(document.querySelector('textarea[name="sentence"]').value) + '&add=true';
        }

    </script>
    <script>
        document.getElementById('show-checkbox').addEventListener('change', function () {
            document.getElementById('show-hidden').disabled = this.checked;
        });
    </script>
</body>

</html>