<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Fragments</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/search.js"></script>
    {% block head %}{% endblock %}

</head>

<body>
    <h1>Fragments</h1>
    <div id="loading">
        <div class="spinner"></div>
    </div>
    <span id="content">
        {% block content %}{% endblock %}
    </span>
    {% block scripts %}{% endblock %}
    <footer>
        <p>
            Fragments of {{name}}<{{email}}>
        </p>
        <p>
            Emotion board. <a href="/paginated">Paginated</a> <a href="/all">All</a> <a href="/teapot">Teapot</a>
        </p>

    </footer>

</body>

</html>