{% extends "base.html" %}

{% block title %}Fragments - Post #{{ post.id }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}
{% if let Some(post) = post %}
<article>
    <div class="post-header">
        <h2>Post #{{ post.id }}</h2>
        <a href="{{ post.id }}/raw" class="view-raw">View Raw</a>
        <br style="clear:both;" />
    </div>
    <hr>
    <p class="post-content">{{ post.sentence }}</p>
    <p class="post-time">{{ format!("{} {}", post.timestamp.date_naive(), post.timestamp.time().format("%H:%M:%S") ) }}</p>
</article>
{% else %}
<p>Post not found. -- Probably deleted or never existed.</p>
{% endif %}

<div class="go-back-container">
    <a href="#" class="go-back" onclick="history.back(); return false;">Go back</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    if (history.length <= 1) {
        document.querySelector('.go-back').href = '/all';
        document.querySelector('.go-back').onclick = null;
    }
</script>
{% endblock %}