{% extends "base.html" %}

{% block title %}
{% if let Some(post) = post %}
<title>Fragments - #{{ post.id }}</title>
{% else %}
<title>Fragments - 404</title>
{% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}
{% if let (Some(post), tz) = (post.as_ref(), tz.as_ref()) %}
<article>
    <div class="post-header">
        <h2>Post #{{ post.id }}</h2>
        <a href="{{ post.id }}/raw" class="view-raw">View Raw</a>
        <br style="clear:both;" />
    </div>
    <hr>
    <p id="rawContent" class="raw-content" style="display: none;">{{ post.sentence }}</p>
    <p id="postContent" class="post-content"></p>
    <p class="post-time">{{ format!("{} {}", post.host_date(&tz), post.host_time(&tz) ) }}
    </p>
</article>
{% else %}
<p>Post not found. -- Probably deleted or never existed.</p>
{% endif %}

<div class="go-back-container">
    <a href="#" class="go-back" onclick="history.back(); return false;">Go back</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    if (history.length <= 1) {
        document.querySelector('.go-back').href = '/all';
        document.querySelector('.go-back').onclick = null;
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const postContent = document.getElementById('postContent');
        if (!postContent) {
            return;
        }
        const rawContent = document.getElementById('rawContent').textContent;
        postContent.innerHTML = renderPostContent(rawContent);
    });
</script>
{% endblock %}